<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body class="container-fluid">
        {% include '_navbar.html.twig' %}
        <div class="row justify-content-center content">

            <div class="col-md-8">
                {% block body %}{% endblock %}
            </div>
            {% block aside %} {% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>


